<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="5141cb1e-9542-40b7-9a96-afd98601e097" Publisher="CN=Sander" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Football Coach.Windows</DisplayName>
    <PublisherDisplayName>Sander van Broekhoven</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FootballCoach.Windows.App">
      <m2:VisualElements DisplayName="Voetbal Statistieken" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Met deze app kan je een team met spelers en wedstrijden aanmaken en voor deze wedstrijden allerlei statistieken bijhouden. Dit kan erg simpel, van doelpuntenmakers, tot erg ingewikkeld, tot aantal speelminuten, wisselbeurten, assists e.d." ForegroundText="light" BackgroundColor="#567845">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#567845" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>